<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
		<div>
			<h1>Mongoose Store</h1>
			<ul>
				<%allProducts.forEach(product => {%>
                    <li> <a href="/store/<%=product._id%>"><img src="<%=product.img%>" alt="<%=product.name%>"/></a> </li>
                    <li> <%=product.name%></li>
                <%});%>
			</ul>
		</div>
        <nav><a href="/store/new">Create New Products!</a></nav>
</body>
</html>