<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>New Product</h1>
    <div>
        <form action="/store" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
            <label for="description">Description</label>
            <input type="text" name="description" id="description" />
            <label for="img">Image</label>
            <input type="text" name="img" id="img" />
            <label for="price">Price</label>
            <input type="number" name="price" id="price" />
            <label for="qty">Quantity</label>
            <input type="number" name="qty" id="qty" />
            <input type="submit" value="Create New Product" />
        </form>
    </div>
    <nav><a href="/store">BACK</a></nav>
</body>
</html>